p {
	font-size: 20px;
}

h4 {
	font-size: 30px;
	font-weight: bold;
}

body {
	background-color:green;
}

img {
	float: left;
	width: 225px;
	height: 225px;
}

div::after {
	content: "";
	clear: both;
	display: table;
}

div.alternate img {
  float: right;
}

@keyframes ruch
{
  0% { background-position:0 0, 0 0, 0 0; }
  100% { background-position: 0 10000px, 0 7500px, 0 5000px; }
}

.siku {
	background-image:url("liście.png");
	background-size: 500px;
	animation:ruch 300s linear infinite alternate;
}
